html,
body {
  height: 100%;
  background-image: linear-gradient(pink, brown);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div {
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  text-align: center;
  box-sizing: content-box;
  display: inline-block;
  border: 6px ridge white;
}

h1 {
  color: black;
  font-size: 40px;
  font-family: Arial;
}

p {
  color: black;
  font-size: 30px;
  font-family: Arial;
}

.box1 {
  opacity: 0.8;
  background: pink;
  position: relative;
  left: 210px;
}

.box2 {
  opacity: 0.8;
  background: pink;
  position: relative;
  top: 250px;
  bottom: 0px;
  right: 0px;
  left: 330px;
}

#box3 {
  top: 5px;
  left: 30px;
}

#name {
  color: black;
  font-size: 30px;
  font-family: Arial;
  font-weight: bold;
  margin-left: 210px;
  margin-top: 7%;
}

#answer {
  opacity: 0.8;
  background: pink;
  position: relative;
  top: 310px;
  bottom: 0px;
  right: 0px;
  left: 210px;
  text-align: center;
  box-sizing: content-box;
  display: inline-block;
  border: 6px ridge white;
  font-family: Arial;
  font-weight: bold;
  color: black;
  font-size: 30px;
}

#error {
  opacity: 0.8;
  background: pink;
  position: relative;
  top: 268px;
  bottom: 0px;
  right: 0px;
  left: 295px;
  text-align: center;
  box-sizing: content-box;
  display: inline-block;
  border: 6px ridge white;
  font-family: Arial;
  font-weight: bold;
  color: black;
  font-size: 30px;
}

.buttons {
  text-align: center;
  display: inline;
  border: 0px;
  border-radius: 10px;
  background-image: linear-gradient(pink, brown);
}

.btnP {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 3rem;
  margin-top: 3%;
  margin-left: 43%;
}

.btnC {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-top: 1%;
  margin-left: 43%;
}

.button {
  text-align: center;
  border-radius: 10px;
  border: 0px;
  background-image: linear-gradient(pink, brown);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-top: 22%;
  margin-left: 45%;
}
